/*Aplicando estilos al formulario de login*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #feffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header ,footer {
    background-color: #396868;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form-card {
    background-color: #d8d7e0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(255, 55, 55, 0.1);
    width: 100%;
    max-width: 400px;
}

fieldset {
    border: 2px solid #2312c0;
    padding: 20px;
    border-radius: 5px;
}
legend{
    padding: 0 10px;
    font-weight: bold;
    color: #02001367;

}
.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    outline-color: #4b3b08;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #003566;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #001d3d;
}

.form-footer {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
}